# Xcode
build/
swift/build-debug/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xccheckout
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved

# macOS
.DS_Store
*.swp
*~.nib

# App specific
*.ipa
*.dSYM.zip
*.dSYM
hark-*.zip
bee-*.zip
default.profraw
target/
models/
output*.wav
target/
voices/*.wav
voices/*.m4a
data/
training/data/
training/adapters/
scripts/__pycache__/

# env vars
.env
.envrc
*.db*
.analysis/
.claude/settings.local.json
build-release/
build-bee-release/
.venv/
venv/
profile.json.gz

# souuunds
*.wav
!swift/bee/Sounds/*.wav
