# Xcode
build/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xccheckout
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved

# macOS
.DS_Store
*.swp
*~.nib

# App specific
*.ipa
*.dSYM.zip
*.dSYM
hark-*.zip
default.profraw
target/
asr-synth/models/
asr-synth/output*.wav
asr-synth/target/
asr-synth/voices/*.wav
asr-synth/voices/*.m4a
asr-synth/data/
asr-synth/training/data/
asr-synth/training/adapters/
